<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.silt.siltsdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.webkit.PermissionRequest" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application>
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/file_paths" />

        <activity android:name=".SiltActivity" android:requestLegacyExternalStorage="true"/>

        <provider android:authorities="com.silt.siltsdk"
            android:enabled="true"
            android:exported="true"
            android:name="com.silt.siltsdk.CameraPictureProvider" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.silt.siltsdk.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>